
<center><a href="/emails/new">Compose Mail</a> <a href="/inbox/view">Check Inbox</a> <a href="/inbox/sent">Sent Mail</a>
  <a href="/inbox/draft">See Drafts</a></center>
<br/> <br/>


<table style="width:100%">
  <tr>
    <th>Sender</th>
    <th>Receiver</th>
    <th>Subject</th>
    <th>Message</th>
    <th>Action</th>
  </tr>

  <% @emails.each do |e| %>
      <%if e.is_draft== true %>
          <% @e = e %>
          <% r= e.receivers.map(&:receiver_email).join(', ') %>
          <tr>
            <td><%= e.sender %></td>
            <td><%= r %></td>
            <td><%= link_to e.subject, inbox_show_msg_path(:id=> e.id,:read=> 'true') %></td>
            <td><%=show_mess(@e) %> </td>
            <td><%= link_to "Edit" ,edit_email_path(:id=> e.id,:r=>r)%>&nbsp;&nbsp;<%= link_to "Delete" ,inbox_delete_draft_path(:id=> e.id), :data => {:confirm => 'Are you sure?'}%></td>

          </tr>
      <% end %>

  <% end %>

</table>

<%= will_paginate(@emails) %>
