<h3>Compose Mail</h3>

<%= javascript_include_tag "check_before_leave" %>

<%= javascript_include_tag "apply_ajax" %>

<div style="border:2px solid #a1a1a1;
        margin-top:20px;
        font-size:15px;
        padding:10px 40px;
        background:#dddddd;
        width:400px;
        border-radius:25px;">

<%= form_for @email, :html=>{:id=>"form"} do |f| %>

      <div id="error_span"></div>
      <div>
        <%= f.label :subject %><br>
        <%= f.text_field :subject,value: @email.subject%><br>
        <span class="error">Should be filled</span>
      </div>
      <%= f.hidden_field :id, :value => @email.id %>
      <div>
        <%= f.label :receiver_email %><br>
        <%= f.text_field :receiver_email %><br>
        <span class="error">Should be a valid email</span>
      </div>
      <div>
        <%= f.label :message %><br>
        <%= f.text_area(:message, size: '50x10', :value => @email.message)%><br>
        <span class="error"></span>
      </div>
      <div>
        <%= f.submit "Send",:id=>'submit_button'%>
        <input type="button" id="draft_button" value="Draft" onclick="formData()" />
        <p id="para"></p>
      </div>
      <!--  , :input_html => { :onclick => "setUnsaved()"} -->

<% end %>
</div>
<script type="text/javascript">
  $(document).ready(function () {
      validate_data();
      check_before();
  })
</script>