<!DOCTYPE html>
<html>
<head>
  <title>MailServer</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="user_nav">
  <h1><center>JOSH MAIL SYSTEM</center></h1>
  <% if user_signed_in? %>
    Signed in as <%= current_user.email %>. Not you? <
    <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
    <%= link_to "Home", root_path %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or <%= link_to "sign in", new_user_session_path %>
  <% end %>
</div>

<% if notice %>
   <!--Notice:-->
  <p class="alert alert-success"><%= notice %></p>
<% end %>
<% if alert %>
 <!-- Alert:-->
<p class="alert alert-danger"><%= alert %></p>
<% end %>

<%= yield %>

</body>
</html>
